/* import font family  */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* variable section  */
:root {
    /* color section  */
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #d9d9d9;
    --white: #FFF;

    /* typography section  */
    --fs-heading-xl: 5.5rem;
    --lh-heading-xl: 5.5rem;
    --ls-heading-xl: -0.15625rem;

    --fs-heading-l: 3rem;
    --lh-heading-l: 3.5rem;
    --ls-heading-l: -0.09375rem;

    --fs-heading-m: 1.5rem;
    --lh-heading-m: 2rem;

    --fs-body-l: 1.125rem;
    --lh-body-l: 1.75rem;
}

/* discarding default properties  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* beginning of common properties section  */
header,
main,
footer {
    width: 100%;
}

/* common properties for ul  */
ul {
    list-style-type: none;
    display: flex;
    gap: 1.125rem;
    color: var(--grey);
}

/* commom properties for all anchor tags  */
a {
    text-decoration: none;
    color: var(--grey);
}

/* end of common properties section  */

/* properties for body  */
body {
    font-family: "Space Grotesk", serif;
    color: var(--white);
    width: 100%;
    height: auto;
}

/* properties for main  */
main {
    background-color: var(--black);
}

.hero {
    width: 100%;
    height: fit-content;
    padding-bottom: 6rem;
    border-bottom: 1px solid;
    display: flex;
    justify-content: flex-end;
    position: relative;

}

/* common properties for banner  */
.bnr {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
}

.bnr-title {
    font-size: 2rem;
    font-weight: 700;
}

.bnr-icons i {
    padding-right: 1.875rem;
    font-size: 2rem;
}

.main-bnr {
    /* width: 100%; */
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 1;
}

.hero-txt {
    width: 46rem;
    /* width: 49%; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    top: 13rem;
    left: 0;
    z-index: 1;
}

.hero-txt-title-name {
    /* text-decoration: underline; */
    border-bottom: 0.5rem solid var(--green);
}

.hero-img {
    height: auto;
    position: relative;
    /* grid-column: 20/35;
    grid-row: 1/4;
    margin-bottom: 6.5rem;
    justify-self: end; */
}

.hero-img-fc {
    width: 100%;
    height: auto;
    aspect-ratio: 445/720;
}

.ring-vector-circle {
    position: absolute;
}

.ring-set {
    width: 33.125rem;
    position: absolute;
}

.ring-set-hero {
    left: -16%;
    top: 15%;
}

/* common properties for section title, section details  */
.section-title {
    /* font-size: var(--fs-heading-xl); */
    font-size: 5.5rem;
    line-height: var(--lh-heading-xl);
    letter-spacing: var(--ls-heading-xl);
}

.section-details {
    color: var(--grey);
    font-size: var(--fs-body-l);
    line-height: var(--lh-body-l);
}

/* common properties for button  */
.btn {
    width:fit-content;
    height: fit-content;
    padding: 1rem 0;
    font-size: var(--fs-body-l);
    border: none;
    border-bottom: 1px solid var(--green);
    background-color: var(--black);
    color: var(--white);
}

.experience,
.projects {
    padding-bottom: 8.75rem;
}

/* properties for project section  */
.experience {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.experience-tile {
    padding-top: 4rem;
    display: grid;
    gap: 0.875rem;
}

.experience-tile-title {
    font-size: var(--fs-heading-l);
    font-weight: 700;
    line-height: var(--lh-heading-l);
    letter-spacing: var(--ls-heading-l);
}

.ring-set-experience {
    transform: scaleX(-1);
}

/* properties for project section  */
.projects {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-columns: repeat (autofil, minmax(40rem, 1fr));
    grid-template-rows: repeat (autofil, minmax(30rem, 1fr)); */
    gap: 1.875rem 4.375rem;
    padding-top: 10.5rem;
}

.project-txt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.project-tile-title {
    text-transform: uppercase;
    margin: 1.25rem 0 0.5rem 0;
    font-size: var(--fs-heading-m);
    font-weight: 700;
}


/* common properties for project tiles  */
.projects-tile {
    height: auto;
    position: relative;
}

.projects-tile img {
    width: 100%;
    aspect-ratio: 540/400;
}


.btn-project-tile {
    background-color: transparent;
}


/* common properties for main, footer  */
.header-wraper {
    position: relative;
}

.header-wraper,
.main-wraper,
.footer-wraper {
    padding: 0 10.3125rem;
    margin: 0 auto;
    height: auto;
    /* overflow: hidden;  */
    /* hides/clipes the content outside container  */
}

/* beginning of properties for footer  */
footer {
    background-color: var(--dark-grey);
}

/* properties for footer contact section  */
.footer-contact {
    position: relative;
    padding: 5.25rem 0 10.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 13.75rem;
    border-bottom: 1px solid;
}

.contact-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-form input, 
.contact-form textarea {
    padding: 2rem 1.5rem 1rem;
    text-transform: uppercase;
    background-color: var(--dark-grey);
    border: none;
    border-bottom: 2px solid var(--grey);
    font-size: var(--fs-body-l);
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    font-family: "Space Grotesk", serif;
}

.btn-contact {
    position: absolute;
    right: 0;
    bottom: -20%;
    background-color: var(--dark-grey);
}

.ring-set-contact {
    bottom: 10%;
    left: -33%;
}

/* end of properties for footer  */

/* beginning of interactive properties section  */
a:hover,
a:hover button {
    color: var(--green);
    transition: color 0.3s ease;
    cursor: pointer;
}

.projects-tile:hover img {
    opacity: 30%;
    transition: opacity 0.3s ease;
}

.projects-tile:hover .project-tile-btns {
    display: flex;
}


/* end of interactive properties section  */

/* Responsive design section  */
/* for desktop and large screens  */
@media only screen and (min-width: 1440px) {
    .header-wraper,
    .main-wraper,
    .footer-wraper {
        padding: 0 10.3125rem;
        /* min-width: 100%; */
        max-width: 90rem;
        /* width: 100%; */
    }
    
    .hero-txt {
        min-width: 49%;
        max-width: 44.125rem;
        position: absolute;
    }

    .main-bnr {
        top: 0;
        left: 10.3125rem;
        right: 10.3125rem;
        /* width: 100%; */
    }

    .hero-img {
        min-width: 30%;
        max-width: 27.8125rem;
    }

    .ring-vector-circle {
        bottom: 10%;
        left: -15%;
    }

    .ring-set-experience {
        top: 50%;
        right: -35%;
    }

    .projects-tile {
        min-width: 37.5%;
        max-width: 33.75rem;
    }

    .project-tile-btns {
        width: 100%;
        aspect-ratio: 540/400;
        position: absolute;
        top: 0;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        display: none;
    }
}

@media only screen and (min-width: 1240px) and (max-width: 1439px) {
    .main-wraper,
    .footer-wraper{
        padding: 0 5rem;
        /* min-width: 100%; */
        /* max-width: 90rem; */
        width: 100%;
    }

    .hero-txt {
        min-width: 49%;
        max-width: 44.125rem;
        position: absolute;
    }

    .hero-img {
        min-width: 30%;
        max-width: 27.8125rem;
    }

    .main-bnr {
        top: 0;
        left: 5rem;
        right: 5rem;
    }

    .ring-vector-circle {
        bottom: 10%;
        left: -15%;
    }

    .ring-set-experience {
        top: 50%;
        right: -35%;
    }

    .projects-tile {
        min-width: 37.5%;
        max-width: 33.75rem;
    }

    .project-tile-btns {
        width: 100%;
        aspect-ratio: 540/400;
        position: absolute;
        top: 0;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        display: none;
    }

}

/* for tablet  */
@media only screen and (min-width: 768px) and (max-width: 1239px) {
    html {
        font-size: 13px;
    }
    
    .main-wraper,
    .footer-wraper{
        padding: 0 2rem;
        /* min-width: 100%; */
        width: 100%;
    }

    .hero {
        height: 50rem;
    }

    .hero-txt {
        width: 36rem;
        z-index: 1;
        position: absolute;
    }

    .hero-txt-title-name {
        font-size: 6rem;
    }

    .hero-img {
        width: 27rem;
        /* min-width: 25rem;
        max-width: 43%; */
        position: relative;
        right: -2rem;
        /* width: 27rem; */
        margin-bottom: 1rem;
    }

    .main-bnr {
        top: 0;
        left: 2rem;
        right: 2rem;
    }
    
    .ring-vector-circle {
        bottom: -1rem;
        right: -20%;
        /* right: 50%; */
    }

    .experience {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .ring-set-experience {
        top: 62%;
        right: -20rem;
    }

    .projects {
        gap: 1rem 2rem;
        padding-top: 10.5rem;
        padding-bottom: 5rem;
    }

    .projects-tile {
        padding-bottom: 5rem;
    }

    .project-tile-btns {
        position: absolute;
        bottom: 1.5rem;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 2rem;
        aspect-ratio: none;
    }

    .footer-contact {
        grid-template-columns: repeat(1, 42%);
        text-align: center;
        justify-content: center;
    }

    .footer-contact-txt .section-title,
    .footer-contact-txt .section-details {
        margin-bottom: 2rem;
    }

}

/* for smartphones */
@media only screen and (max-width: 767px) {
    :root {
        --fs-heading-xl: 5.5rem;
        --lh-heading-xl: 5.5rem;
        --ls-heading-xl: -0.15625rem;

        --fs-heading-l: 4.267rem;
        --lh-heading-l: 5rem;
        --ls-heading-l: -0.09375rem;

        --fs-heading-m: 3.2rem;
        --lh-heading-m: 2rem;

        --fs-body-l: 2.125rem;
        --lh-body-l: 3rem;
    }
               
    
    html {
        font-size: 7.5px;
    }

    body {
        font-size: 2.134rem;
    }

    .main-wraper,
    .footer-wraper{
        padding: 0 2rem;
        max-width: 100%;
        /* min-width: 45rem; */
    }

    .bnr {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
    }

    .bnr-title {
        font-size: 3.2rem;
    }

    .hero {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-bnr {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0)
    }

    .hero-img {
        min-width: 23.2rem;
        /* max-width: 43%; */
        align-self: center;
    }

    .hero-img-fc {
        max-width: 43%;
    }
    .ring-vector-circle {
        position: absolute;
        bottom: 0.5rem;
        right: -10rem;
    }

    .hero-txt {
        margin: 0 auto;
        top: 5rem;
    }

    .experience {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        text-align: center;
        /* grid-template-rows: repeat(3, 1fr); */
        border-bottom: 1px solid;
        margin-bottom: 6rem;
    }

    .ring-set-experience {
        bottom: -7%;
        right: -20%;
        transform: scaleX(-1);
    }

    .projects {
        grid-template-columns: repeat(1, 100%);
    }

    
    /* .projects {
        gap: 1rem 2rem;
        padding-top: 10.5rem;
        padding-bottom: 5rem;
    } */

    .projects-tile {
        padding-bottom: 7rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .project-tile-btns {
        position: absolute;
        bottom: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        aspect-ratio: none;
    }

    
    .footer-contact {
        grid-template-columns: repeat(1, 100%);
        text-align: center;
        justify-content: center;
        padding-bottom: 15rem;
    }

    .footer-contact-txt .section-title,
    .footer-contact-txt .section-details {
        margin-bottom: 2rem;
    }

    .ring-set-contact {
        bottom: 15%;
        left: -33%;
    }

    .footer-bnr {
        padding: 5rem;
    }
}

    
